.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: 'Cairo', sans-serif;
  color: #333;
}

input {
  margin: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #0055ff, #00aaff);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #0033aa, #0077ff);
}

.error {
  color: red;
  margin-top: 10px;
}
